* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
    margin: 0;
}
header {
    padding: 16px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #0362fb;
    text-align: center;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}   
.nav-item {
    margin: 0 16px;
    font-size: 18px;
    font-weight: medium;
    color: #090909;
    background-color: aqua;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.nav-item:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

main {
    width: auto;
    margin: auto;
    padding: 16px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #03cdfb;
}
main>p {
    margin-bottom: 32px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    font-style: italic;
}
h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}
h2 {            
    font-weight: bold;
    font-size: 36px;
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
}
section h2 {
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}
section p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    font-style: italic;
}
section ul {
    max-width: 800px;
    margin: auto;
    font-size: larger;
}
.box-01 {
    padding: 16px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #a6a6ac;
    border-radius: 8px;
}
.box-02 {
    padding: 16px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #a6a6ac;
    border-radius: 8px;
}
.box-03 {
    padding: 16px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #a6a6ac;
    border-radius: 8px;
}   
.box-04 {
    padding: 16px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #a6a6ac;
    border-radius: 8px;
}
.skills-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.list-items li {
    border: 3px solid rgb(0, 0, 0);
    background-color: #01e7f7;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: #090909;
    transition: transform 0.3s ease, box shadow 0.3s ease;
}
.list-items li:hover {
    transform: scale3d(1.05, 1.05, 1);
    box-shadow: #030303;
}
.list-items img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

@media (min-width>=480px) {
    .list-items li {
        flex-basis: 45%;
    }
}
@media (min-width>=1024px) {
    .list-items li {
        flex-basis: 30%;
    }
}