* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: "Times New Roman", serif;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #fbf703;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

main>p {
    margin-bottom: 32px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    font-style: italic;
}

.collection-grid {
    margin: 48px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.collection-card {
    border: 3px solid rgb(0, 0, 0);
    background-color: #3fc1ed;
    padding: 16px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.collection-card img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
    line-height: 2;
}
@media (width >= 480px) {
    .collection-card {
        flex-basis: 45%;
    }
}
@media (width >= 1024px) {
    .collection-card {
        flex-basis: 30%;
    }
}